langchain

langchain-openai

langgraph

langchain-community

langchain-huggingface

langchain-chroma

chromadb

sentence-transformers

fastmcp
fastapi==0.115.12
starlette==0.46.2

aiofiles

python-dotenv
pydantic
tiktoken
httpx
ddgs
orjson
tenacity
python-pptx
python-docx

torch
torchvision
torchaudio
